.post .post-img{
    width:100% !important;
    border-radius: 12px;
}

.post{
    padding: 8px;
}
.like, .comment{
    margin-right: 1.5rem;
}

.caption{
    text-align: left !important;
}

.like .icon, .comment .icon{
    margin-right: .3rem;
}
.top, .bottom{
    margin:0 .6rem;
}
.post .date{
    text-align: center;
    color: var(--gray);
    font-size: 15px;
}

@media screen and (max-width:1200px){
    .post-img{
        width: 20rem !important;
    }
    .like, .comment{
        margin-right: 1rem;
    }
    .icon{
        font-size: 30px;
    }
}